* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    font-weight: bolder;
}

body {
    background-color: rgb(255, 211, 211)
}

html,
body,
#left-tab,
#right-tab {
    height: 100%;
}

.box {
    position: relative;
    padding: 2%;  
    transition: all 0.2s;  
}

#left-tab {
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgb(99, 32, 55);
    width: 33%;
    display: grid;
    place-items: center;

}
#left-tab .box {
    width: 100%;
}

#right-tab {
    background-color: rgb(241, 180, 180);
    margin-left: 37%;
    height: auto;
    color: rgb(99, 32, 55);
}
#right-tab .box {
    margin-bottom: 5px;
}

.light-border {
    border: solid black 1px;
    border-radius: 4px;
}
.border {
    border: solid black 2px;
    border-radius: 5px;
}

.logo {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    animation: rainbow 2s infinite;
}
@keyframes rainbow {
    0% { color: rgb(255, 255, 255); }
    50% { color: rgb(241, 180, 180); }
    100% { color: rgb(255, 255, 255); }
}

.title {
    font-weight: bold;
    margin: 10px;
    font-size: 24px;
}

/* input[type='text'], 
input[type='file'], 
input[type='email'], 
input[type='password'],
textarea  */
.field {
    width: 90%;
    padding: .5em;
    margin-bottom: 10px;
    border: 2px solid lightgray;
    color: rgb(99, 32, 55);
}

.box button {
    padding: .4em;
    background: #455668;
    border: 0;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.right {
    float: right;
}

.box button:hover {
    color: rgb(72, 197, 0);
}

.box::after {
    content: "";
    display: block;
    clear: both;
}

.rented {
    background-color: rgb(128, 46, 75);
    height: 80px;
    text-align: center;
}
.rented #rent {
    font-size: 30px;
    color: white;
}